I use PostgreSQL to practice reading, writing, and processing data directly from the database using Python. This helps me learn how to work directly with the database using Python instead of relying on CSV or XLSX files.

# Import Libraries

In [84]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

# Read Data

In [85]:
df = pd.read_csv('Dataset/marketing_campaign_data.csv', index_col=0)
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,S1,Lajang,58138000.0,0,0,04-09-2012,58,635000,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,S1,Lajang,46344000.0,1,1,08-03-2014,38,11000,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,S1,Bertunangan,71613000.0,0,0,21-08-2013,26,426000,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,S1,Bertunangan,26646000.0,1,0,10-02-2014,26,11000,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,S3,Menikah,58293000.0,1,0,19-01-2014,94,173000,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,S1,Menikah,61223000.0,0,1,13-06-2013,46,709000,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,S3,Bertunangan,64014000.0,2,1,10-06-2014,56,406000,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,S1,Cerai,56981000.0,0,0,25-01-2014,91,908000,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,S2,Bertunangan,69245000.0,0,1,24-01-2014,8,428000,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,S3,Menikah,52869000.0,1,1,15-10-2012,40,84000,...,7,0,0,0,0,0,0,3,11,1

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntCoke              2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 525.0+ KB

# Adjust the 'None' format

In [87]:
import numpy as np
df = df.where(pd.notna(df), None)
df = df.replace({'None': None, np.nan: None})

# Adjust some columns to right format

In [88]:
df['Income'] = df['Income'].astype(float)

In [89]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'],format="%d-%m-%Y").dt.date

# Add data to PostgreSQL

In [90]:
engine = create_engine('postgresql+psycopg2://postgres:0000@localhost:5434/Marketing_Campaign_Project')
batch_size = 1000
total_rows = len(df)
with engine.begin() as connection:
    for i in tqdm(range(0, total_rows, batch_size), desc="Inserting rows", dynamic_ncols=True):
        df.iloc[i:i + batch_size].to_sql('marketing_campaign', connection, if_exists='append', index=False)

Inserting rows:   0%|          | 0/3 [00:00<?, ?it/s]

Inserting rows: 100%|██████████| 3/3 [00:00<00:00,  6.58it/s]